.pagina-lista-clientes_item-cliente {
    background-color: white;
    padding: 8px;
    box-shadow: 0px 0px 4px 0px grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}